.select {
    position: relative;
}
.select-container {
    height: 20%;
    background-color: white;
    border: 1px solid #e2e8f0;
    color: white;
    display: flex;
    border-radius: 2px;
    justify-content: space-between;
    padding: .25rem;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, .15);
}
.select-name > input {
    outline: none;
    border: none;
    font-size: .8rem;
    width: 100%;
}

.select-name > input::placeholder {
    color: #52525b;
}

.select-container:focus-within {
    border-color: #06b6d4;
}

.select-name {
    min-width: 80%;
    margin-right: .4rem;
}
.select-icon-wrapper {
    border-left: 1px solid #e2e8f0;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.select-icon {
    color: #52525b;
}

.options-menu-contianer {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #e2e8f0;
    z-index: 100;
}

.delete-data {
    color: black;
    font-size: .8rem;
    display: flex;
    align-items: center;
    margin-right: .5rem;
    cursor: pointer;
}

.options-menu-contianer > ul > li {
    list-style: none;
    padding: .5rem;
    cursor: pointer;
    font-size: .85rem;
    transform: all 150ms ease;
}
.options-menu-contianer > ul > li:hover {
    background-color: #cffafe;
}